DB_URL=jdbc:postgresql://localhost:5432/iam_db
DB_USERNAME=iam_user
DB_PASSWORD=iam_password
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_KEY_PATH=./keys/iam-private.pem
JWT_PUBLIC_KEY_PATH=./keys/iam-public.pem
APP_BASE_URL=http://localhost:8080
SENDGRID_API_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
SPRING_PROFILES_ACTIVE=dev
